@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap");
h1 {
  font-size: 36px !important;
  font-weight: 700;
}

h2 {
  font-size: 18px !important;
}

span {
  font-size: 12px !important;
}

p {
  font-size: 12px !important;
}

input::placeholder {
  font-size: 18px !important;
}

#ingredients span .ingredients-list {
  font-size: 18px !important;
}

h1 {
  font-size: 36px !important;
  font-weight: 700;
}

h2 {
  font-size: 18px !important;
}

span {
  font-size: 12px !important;
}

p {
  font-size: 12px !important;
}

input::placeholder {
  font-size: 18px !important;
}

#ingredients span .ingredients-list {
  font-size: 18px !important;
}

.accordion-item {
  width: 224px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

#accordion1.collapsed {
  background-color: #3282f7 !important;
  color: white;
}

#accordion2.collapsed {
  background-color: #68d9a4 !important;
  color: white;
}

#accordion3.collapsed {
  background-color: #ed6454 !important;
  color: white;
}

.accordion-button::after {
  background-image: url("/assets/Vector.svg");
}

.accordion-button:focus {
  box-shadow: unset;
}

#accordion1:not(.collapsed) {
  color: white;
  background-color: #3282f7 !important;
  box-shadow: unset;
}

#accordion2:not(.collapsed) {
  color: white;
  background-color: #68d9a4 !important;
  box-shadow: unset;
}

#accordion3:not(.collapsed) {
  color: white;
  background-color: #ed6454 !important;
  box-shadow: unset;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/Vector.svg");
}

.accordion-flush .accordion-item .accordion-button {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.accordion-body {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  overflow: hidden;
  max-height: 398px;
  display: flex;
}

#body__style1,
div#flush-collapseOne {
  background-color: #3282f7 !important;
  color: white;
  height: 398px;
}
#body__style1 ul,
div#flush-collapseOne ul {
  margin-left: 20px;
}

#body__style2,
div#flush-collapseTwo {
  background-color: #68d9a4 !important;
  color: white;
  height: 398px;
}
#body__style2 ul,
div#flush-collapseTwo ul {
  margin-left: 20px;
}

#body__style3,
div#flush-collapseThree {
  background-color: #ed6454 !important;
  color: white;
}
#body__style3 ul,
div#flush-collapseThree ul {
  margin-left: 20px;
}

.tags-results {
  margin-right: 15px;
  margin-bottom: 30px;
}

.search-by {
  display: flex;
  flex-direction: row;
}

.container-tags {
  width: unset;
}

@media only screen and (max-width: 768px) {
  .search-by {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card {
  max-width: 380px;
}
.card .card-img {
  background-color: #c7bebe;
  height: 178px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card .card-body {
  background-color: #e7e7e7;
}
.card .card-body .time-logo {
  margin-right: 5px;
}
.card .card-body .time {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.card #card-header {
  align-items: flex-start;
}

.description {
  height: 110px;
}
.description p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.4vh;
}

.ingredientsRecipe {
  line-height: 1.1vh;
  font-size: 12px;
}
.ingredientsRecipe ul li {
  margin-bottom: 2px;
  font-weight: 400;
}

/* Reset */
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Reset End*/
body {
  font-family: "Lato", sans-serif;
}

.header-h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

#basic-addon1 {
  background-color: #e7e7e7;
  border: unset;
}

#search-field {
  background-color: #e7e7e7;
  border: unset;
}

.input-group {
  height: 69px;
}

input#search-field:focus {
  box-shadow: unset;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 60px;
}

/*# sourceMappingURL=style.css.map */
