@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
h1 {
  font-size: 36px !important;
  font-weight: 700;
}

h2 {
  font-size: 18px !important;
}

span {
  font-size: 12px !important;
}

p {
  font-size: 12px !important;
}

input::placeholder {
  font-size: 18px !important;
}

#ingredients span .ingredients-list {
  font-size: 18px !important;
}

/* dropdown */
.accordion {
  min-width: 200px;
  margin-bottom: 20px;
  max-width: 600px !important;
}
.accordion li {
  padding-right: 35px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.accordion-body ul {
  max-height: 400px;
  overflow-x: scroll;
}

.accordion input::placeholder {
  color: white !important;
  opacity: 1;
}

.accordion input.focus::placeholder {
  opacity: 0.5;
}

main input,
.accordion-body li {
  color: white !important;
}

.accordion-body li {
  cursor: pointer;
}

#accordionOne :is(.accordion-item, input, .accordion-body) {
  background-color: #3282f7 !important;
  height: inherit;
}

#accordionTwo :is(.accordion-item, input, .accordion-body) {
  background-color: #68d9a4 !important;
  height: inherit;
}

#accordionThree :is(.accordion-item, input, .accordion-body) {
  background-color: #ed6454 !important;
  height: inherit;
}

.accordion-button::after {
  background-image: url(/assets/Vector.svg) !important;
  width: 1.7rem !important;
  height: 1rem !important;
  background-size: 1.25rem !important;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed),
main .input-group-text {
  background-color: transparent !important;
}

.accordion-button:not(.collapsed)::after {
  margin-right: 5px;
}

form #basic-addon2,
form #basic-addon3,
form #basic-addon4 {
  height: auto;
  padding: auto !important;
}

form #basic-addon2::after,
form #basic-addon3::after,
form #basic-addon4::after {
  height: auto;
  padding: auto !important;
}

.form-control:focus {
  box-shadow: unset !important;
}

.card {
  max-width: 380px;
}
.card .card-img {
  background-color: #c7bebe;
  height: 178px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card .card-body {
  background-color: #e7e7e7;
}
.card .card-body .time-logo {
  margin-right: 5px;
}
.card .card-body .time {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.card #card-header {
  align-items: flex-start;
}

.description {
  height: 110px;
}
.description p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.4vh;
}

.ingredientsRecipe {
  line-height: 1.1vh;
  font-size: 12px;
}
.ingredientsRecipe ul li {
  margin-bottom: 2px;
  font-weight: 400;
}

.tag-list {
  display: flex;
  align-items: center;
}
.tag-list .close-tag {
  background-color: unset;
  border: unset;
}

/* Reset */
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Reset End*/
body {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
  box-shadow: none !important;
}

input,
.input-group-text {
  border: none !important;
}

.header-h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

#basic-addon1 {
  background-color: #e7e7e7;
  border: unset;
}

#search-field {
  background-color: #e7e7e7;
  border: unset;
}

.input-group {
  height: 69px;
}

input#search-field:focus {
  box-shadow: unset;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 60px;
}

/*# sourceMappingURL=style.css.map */
