@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&display=swap");

h1 {
  font-size: 36px !important;
  font-weight: 700;
}
h2 {
  font-size: 18px !important;
}
span {
  font-size: 12px !important;
}
p {
  font-size: 12px !important;
}
input::placeholder {
  font-size: 18px !important;
}
#ingredients span .ingredients-list {
  font-size: 18px !important;
}
