@import "./../abstracts/variables";
@import "./../base/typography";

// #accordionFlushExample1,
// #accordionFlushExample2,
// #accordionFlushExample3 {
//   width: 224px;
// }
.accordion-item {
  width: 224px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
#accordion1.collapsed {
  background-color: $color-primary !important;
  color: white;
}
#accordion2.collapsed {
  background-color: $color-secondary !important;
  color: white;
}
#accordion3.collapsed {
  background-color: $color-tertiary !important;
  color: white;
}
.accordion-button::after {
  background-image: url("/assets/Vector.svg");
}
.accordion-button:focus {
  box-shadow: unset;
}
#accordion1:not(.collapsed) {
  color: white;
  background-color: $color-primary !important;
  box-shadow: unset;
}
#accordion2:not(.collapsed) {
  color: white;
  background-color: $color-secondary !important;
  box-shadow: unset;
}
#accordion3:not(.collapsed) {
  color: white;
  background-color: $color-tertiary !important;
  box-shadow: unset;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/Vector.svg");
}
.accordion-flush .accordion-item .accordion-button {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
.accordion-body {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  overflow: hidden;
  // overflow-x: scroll;
  max-height: 398px;
  display: flex;
}
#body__style1,
div#flush-collapseOne {
  background-color: $color-primary !important;
  color: white;
  height: 398px;

  ul {
    margin-left: 20px;
  }
}
#body__style2,
div#flush-collapseTwo {
  background-color: $color-secondary !important;
  color: white;
  height: 398px;

  ul {
    margin-left: 20px;
  }
}
#body__style3,
div#flush-collapseThree {
  background-color: $color-tertiary !important;
  color: white;

  ul {
    margin-left: 20px;
  }
}

.tags-results {
  margin-right: 15px;
  margin-bottom: 30px;
}

// Section filters recipes

.search-by {
  display: flex;
  flex-direction: row;
}

.container-tags {
  width: unset;
}
@include phone {
  .search-by {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
