/* dropdown */

.accordion {
  min-width: 200px;
  margin-bottom: 20px;
  max-width: 600px !important;

  li {
    padding-right: 35px;
    padding-bottom: 5px;
    text-transform: capitalize;
  }
}

.accordion-body ul {
  max-height: 430px;
  overflow-x: scroll;
}

.accordion input::placeholder {
  color: white !important;
  opacity: 1;
}
.accordion input.focus::placeholder {
  opacity: 0.5;
}

main input,
.accordion-body li {
  color: white !important;
}
.accordion-body li {
  cursor: pointer;
}
#accordionOne :is(.accordion-item, input, .accordion-body) {
  background-color: $color-primary !important;
  height: inherit;
}

#accordionTwo :is(.accordion-item, input, .accordion-body) {
  background-color: $color-secondary !important;
  height: inherit;
}
#accordionThree :is(.accordion-item, input, .accordion-body) {
  background-color: $color-tertiary !important;
  height: inherit;
}

.accordion-button::after {
  background-image: url(./assets/Vector.svg) !important;
  width: 1.7rem !important;
  height: 1rem !important;
  background-size: 1.25rem !important;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed),
main .input-group-text {
  background-color: transparent !important;
}

.accordion-button:not(.collapsed)::after {
  margin-right: 5px;
}

form #basic-addon2,
form #basic-addon3,
form #basic-addon4 {
  height: auto;
  padding: auto !important;
}
form #basic-addon2::after,
form #basic-addon3::after,
form #basic-addon4::after {
  height: auto;
  padding: auto !important;
}
.form-control:focus {
  box-shadow: unset !important;
}

.container-tags {
  margin: 20px 0;
  .tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

li.tag-list {
  width: max-content;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: $color-primary;

  &.ingredients {
    background-color: $color-primary;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  &.appliances {
    background-color: $color-secondary;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  &.ustensils {
    background-color: $color-tertiary;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  i.fa-times-circle:before {
    color: white;
    margin-left: 10px;
    margin-right: -10px;
  }
}
.input-group-text {
  padding-right: 0.5rem;
}
.ps-4 {
  padding-left: 0.8rem !important;
  padding-right: 0.1rem;
}
