@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/typography";
@import "./components/dropdowns";
@import "./components/cards-recipes";
@import "./components/tags";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/* Reset */
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Reset End*/

body {
  font-family: "Lato", sans-serif;
  margin: 50px;
}
button {
  cursor: pointer;
  box-shadow: none !important;
}
input,
.input-group-text {
  border: none !important;
}

// header
.header {
  display: flex;
  justify-content: center;

  .logo {
    width: 60px;
  }
}
.header-h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #d04f4f;
}

#basic-addon1 {
  background-color: $color-quaternary;
  border: unset;
}

#search-field {
  background-color: $color-quaternary;
  border: unset;
}

// search bar
.input-group {
  height: 69px;
}

input#search-field:focus {
  box-shadow: unset;
}

// Section recipes-container
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 60px;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .container {
    max-width: unset;
    padding-right: unset;
    padding-left: unset;
  }
}
@media (max-width: 992px) {
  .recipes-container {
    justify-content: center !important;
  }
}
