@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/typography";
@import "./components/dropdowns";
@import "./components/cards-recipes";
@import "./components/tags";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/* Reset */
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Reset End*/

body {
  font-family: "Lato", sans-serif;
  margin: 50px;
}
button {
  cursor: pointer;
  box-shadow: none !important;
}
input,
.input-group-text {
  border: none !important;
}

// header
.header {
  display: flex;
  justify-content: center;

  .logo {
    width: 60px;
  }
}
.header-h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #d04f4f;
}

#basic-addon1 {
  background-color: $color-quaternary;
  border: unset;
}

#search-field {
  background-color: $color-quaternary;
  border: unset;
}

.input-group {
  height: 69px;
}

input#search-field:focus {
  box-shadow: unset;
}

// Tags

.row.d-flex.justify-content-center.justify-content-xl-start.dropdowns {
  position: absolute;
  z-index: 5;
}

// Section recipes-container
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 60px;
  justify-content: space-between;
  padding: unset;

  p.error {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    padding: unset !important;
    max-width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding: unset !important;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .search-by {
    display: flex;
    justify-content: center;
  }
  .row.d-flex.justify-content-center.justify-content-xl-start.dropdowns {
    margin-top: 8%;
    width: 80%;
  }
  .container {
    padding: unset !important;
    max-width: 100%;
  }
  .container-tags {
    margin: 20px 0 0 0;
  }
  .recipes-container {
    margin-top: 19rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: unset !important;
    max-width: 100%;
  }
  .container-tags {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 992px) {
  .recipes-container {
    justify-content: center;
    padding: unset !important;
    max-width: 100%;
    align-items: center;
  }
  .recipes-container {
    margin-top: 15rem;
  }

  .search-by {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .row.d-flex.justify-content-center.justify-content-xl-start.dropdowns {
    margin-top: 40%;
  }
  .container-tags {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 768px) {
  .row.d-flex.justify-content-center.justify-content-xl-start.dropdowns {
    margin-top: 60%;
  }
  .recipes-container {
    margin-top: 15rem;
  }
}
